extends index

block content
  div.detailsBody
    div.bigCatCard
      img(height='250px' width='250px' src=imageUrl).bigCatCardImg
      div.bigCatCardResume
        h2 #{breed.name}
        div.bigCardCardResumeHeader #{breed.altNames}
        p.bigCardCardResumeHeader #{breed.description}
        div.bigCardCardResumeHeader #{breed.temperament}
        br
        div.bigCatCardResumeLine
          div.bigCardCardResumeFields Weight:
          div #{breed.weight} kg
        div.bigCatCardResumeLine
          div.bigCardCardResumeFields Origin: 
          div #{breed.origin}
        div.bigCatCardResumeLine
          div.bigCardCardResumeFields LifeSpan: 
          div #{breed.lifeSpan} years
        div.bigCatCardResumeLine
          div.bigCardCardResumeFields Adaptability:
          div
            each val in view.starRatingRange
              span.fa.fa-star(class=breed.adaptabilityLevel>=val?"checked":"")
        div.bigCatCardResumeLine
          div.bigCardCardResumeFields Affection: 
          div
            each val in view.starRatingRange
              span.fa.fa-star(class=breed.affectionLevel>=val?"checked":"")
        div.bigCatCardResumeLine
          div.bigCardCardResumeFields Child friendly: 
          div
            each val in view.starRatingRange
              span.fa.fa-star(class=breed.childFriendlyLevel>=val?"checked":"")
        div.bigCatCardResumeLine
          div.bigCardCardResumeFields Dog friendly: 
          div
            each val in view.starRatingRange
              span.fa.fa-star(class=breed.dogFriendlyLevel>=val?"checked":"")
        div.bigCatCardResumeLine
          div.bigCardCardResumeFields Energy: 
          div
            each val in view.starRatingRange
              span.fa.fa-star(class=breed.energyLevel>=val?"checked":"")
        div.bigCatCardResumeLine
          div.bigCardCardResumeFields Grooming: 
          div
            each val in view.starRatingRange
              span.fa.fa-star(class=breed.groomingLevel>=val?"checked":"")
        div.bigCatCardResumeLine
          div.bigCardCardResumeFields Health issues: 
          div
            each val in view.starRatingRange
              span.fa.fa-star(class=breed.healthIssuesLevel>=val?"checked":"")
        div.bigCatCardResumeLine
          div.bigCardCardResumeFields Intelligence: 
          div
            each val in view.starRatingRange
              span.fa.fa-star(class=breed.intelligenceLevel>=val?"checked":"")
        div.bigCatCardResumeLine
          div.bigCardCardResumeFields Shedding level: 
          div
            each val in view.starRatingRange
              span.fa.fa-star(class=breed.sheddingLevel>=val?"checked":"")
        div.bigCatCardResumeLine
          div.bigCardCardResumeFields Social needs: 
          div
            each val in view.starRatingRange
              span.fa.fa-star(class=breed.socialNeedsLevel>=val?"checked":"")
        div.bigCatCardResumeLine
          div.bigCardCardResumeFields Stranger friendly: 
          div
            each val in view.starRatingRange
              span.fa.fa-star(class=breed.strangerFriendlyLevel>=val?"checked":"")
        div.bigCatCardResumeLine
          div.bigCardCardResumeFields Vocalisation: 
          div
            each val in view.starRatingRange
              span.fa.fa-star(class=breed.vocalisationLevel>=val?"checked":"")
        div.bigCatCardResumeLine
          div.bigCardCardResumeFields Hairless: 
          div
            span.fa.fa-check(class=breed.isHairless?"greenChecked":"grayChecked")
        div.bigCatCardResumeLine
          div.bigCardCardResumeFields Hypoallergenic:
          div
            span.fa.fa-check(class=breed.isHypoallergenic?"greenChecked":"grayChecked")
        div.bigCatCardResumeLine
          div.bigCardCardResumeFields Rex:
          div
            span.fa.fa-check(class=breed.isRex?"greenChecked":"grayChecked")
        div.bigCatCardResumeLine
          div.bigCardCardResumeFields Suppressed tail:
          div
            span.fa.fa-check(class=breed.isSuppressedTail?"greenChecked":"grayChecked")
        div.bigCatCardResumeLine
          div.bigCardCardResumeFields Short legs: 
          div
            span.fa.fa-check(class=breed.isShortLegs?"greenChecked":"grayChecked")
        div.bigCatCardResumeLine
          div.bigCardCardResumeFields Rare:
          div
            span.fa.fa-check(class=breed.isRare?"greenChecked":"grayChecked")        
        a(href=breed.wikipediaUrl)
          div.fakeButton Wikipedia